@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

header {
    display: flex;
    height: 72px;
    color: white;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}

header .brand {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

main {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.avatar {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: small;
    font-weight: bold;
    color: #02f5a1;
    background-color: #07191e;
}