{% extends "layout.html" %}
{% block content %}
<div class="py-4 overflow-hidden overflow-y-auto w-100">
    <div class="container d-flex flex-column gap-2">
        <div class="d-flex justify-content-end">
            <a href="{% url 'task:create' %}" class="btn btn-primary">Create Todo</a>
        </div>
        <ul class="list-group list-group-flush">
            {% for todo in todos %}
             {% include 'components/todo.html' with todo=todo only %}
            {% empty %}
            {% endfor %}
        </ul>
    </div>
</div>

</div>
{% endblock content %}