{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% block title %}Update Todo{% endblock title %}
{% block content %}
    <div class="container d-flex gap-2 flex-column mt-4">
        <h2>Update {{todo.name}}</h2>
        <form action="{% url 'task:update' id=todo.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid">
               <button class="btn btn-secondary" type="submit">Submit</button> 
            </div>
            
        </form>
    </div>
{% endblock content %}