{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container overflow-hidden justify-content-center align-items-center d-flex flex-column w-100 h-100">
    <div class="card w-50">
        <div class="card-header">
            <h2 class="card-title">Login</h2>
        </div>
        <form method="post" action="/user/login/" class="card-body">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}