{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class=" py-4 overflow-hidden overflow-y-auto w-100 h-100">
    <div class="container justify-content-center align-items-center d-flex flex-column">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Sign up</h2>
            </div>
            <form method="post" action="/user/sign-up/" class="card-body">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}